						


						<td>
							<%= link_to user_path(post.user_id) do %>
							<%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>  
							<p><%= post.user.name %></p>
							<% end %>
								
						</td>
								
						
						
							<td><%= post.body %></td> 
								
							<td><%= post.event %></td>

								
							<td><%= post.category == 0 ? "行動" : "言葉" %></td>

							<td><%= post.status == 0 ? "未達成" : "達成" %></td>

							<% if post.user == current_user %>
							<td><%= link_to 'Edit', edit_post_path(post), class: "btn-sm btn-success edit_book_#{post.id}" %></td>
							<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_book_#{post.id}"%></td>
							<% end %>
						
								
						
								
							