<div class="body">
	<div class="container">
		<p id="notice"></p>

		<div class="row">
			
			<div class="col-md-6 col-md-offset-3">
				<h1>Bekaras達成確認</h1>

				<p>選択したBekaras</p>
				<h2><%= @post.body %></h2>
				<p>習慣化されたBekarasのステータスを「達成」に変更しましょう！</p>

				<%= form_for(@post) do |f| %>

					<% if @post.errors.any? %>
						<h3><%= @post.errors.count %>errors prohibited this book from being saved:</h3>
					<ul>
						<% @post.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>

					<% end %>

					
					
					<h4></h4>
					<%= f.label :status, "未達成" %>
					<%= f.radio_button :status, 0, checked: true %>
					<%= f.label :status, "達成" %>
					<%= f.radio_button :status, 1 %>

					<%= f.label :start_time %>
    				<%= f.datetime_select :start_time %>

					<%= f.submit 'Update Book' %>

				<% end %>

				<%= link_to "Show", post_path(@post) %>

							|

				<%= link_to "Back", posts_path %>
			
			</div>
		
		</div>

	</div>
	
</div>
