<% if flash[:notice] %>
      <div class="flash">
        <p class="text"><%= flash[:notice] %></p>
      </div>
 <% end %>

<div class="body">
	<div class="container">
		<p id="notice"></p>

		<div class="row">

		<div class="col-xs-10">
			

			<!-- ログインユーザーの投稿一覧 -->

			<div class="col-md-8 col-md-offset-4">
				<h2>Bekaras detail</h2>

				<table class="table table-hover table-inverse">
					
					<thead>
						<tr>
							<th></th>
							<th>内容</th>
							<th>エピソード</th>
							<th>カテゴリー</th>
							<th>達成状況</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<!-- 繰り返さない -->
					
						<tbody>
							<tr class="post_<%= @post.id %>">
								
								
								<%= render 'detail', post: @post %>
							

							</tr>
						</tbody>
					
				</table>
				
				<table class="show-tb comment_<%= @post.id %>">
					<%= render 'comment', post_comments: @post.post_comments %>
				</table>

				<%= form_with model:[@post, @post_comment], data: {remote: true} do |f| %>
					<%= f.text_area :comment,  rows:'5', class: "form-control",placeholder: "コメントをここに" %>
  					<%= f.submit 'コメントする' %>
				<% end %>
				
			</div>
		</div>
			
		</div>
		
	</div>
	
</div>