<header class="py-4">
	
	<div class="container">

			<%= link_to(root_path, class:"header-logo") do %>

            	<nav class="nav navbar-nav navbar-left">
            		<!-- ここにイメージタグ -->
                	<h1>Bekaras</h1> 
            	</nav>
            <% end %>
		<!-- nav -->
		<ul class="nav nav-pills nav-fill navbar-right">

			<% if user_signed_in? %>

				<li><%= link_to "マイページ", user_path(current_user.id), class: "glyphicon glyphicon-home home" %></li>

				<li><%= link_to "新規投稿", new_post_path, class: "glyphicon glyphicon-book book" %></li>

				<li><%= link_to "投稿検索", posts_path, class: "glyphicon-book book" %></li>

				<li><%= link_to "タイムライン", following_posts_path %></li>


				<li><%= link_to "ユーザー一覧", users_path, class: "glyphicon glyphicon-user users" %></li>

				<li><%= link_to "お知らせ", notifications_path %></li>


				<li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %></li>

			<% else %>

				<li><%= link_to "Home", root_path %></li>

				<li><%= link_to "About", home_about_path %></li>

				<li><%= link_to "会員登録", new_user_registration_path %></li>

				<li><%= link_to "ログインする", new_user_session_path %></li>


			<% end %>
			
		</ul>
		
	</div>
	
</header>